

# Ignore macOS system files
.DS_Store

# Ignore Node.js modules
node_modules/

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace


# Ignore Django migration files
*.py[cod]
__pycache__/
*.py[cod]
migrations/

# Backend .env
backend/.env

# Frontend .env
frontend/.env
cert.pem
key.pem
frontend/7.21.4
.env
frontend/.env.testing
frontend/cypress/screenshots/applyform.cy.js/Application Form Submission -- fills out and submits the application form (failed) (1).png
frontend/cypress/screenshots/applyform.cy.js/Application Form Submission -- fills out and submits the application form (failed) (2).png
frontend/cypress/screenshots/applyform.cy.js/Application Form Submission -- fills out and submits the application form (failed) (3).png
frontend/cypress/screenshots/applyform.cy.js/Application Form Submission -- fills out and submits the application form (failed) (4).png
frontend/cypress/screenshots/applyform.cy.js/Application Form Submission -- fills out and submits the application form (failed).png
.env.development
.env.production
.env.testing
logs/gunicorn.error.log
