

# Ignore macOS system files
.DS_Store

# Ignore Node.js modules
node_modules/

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace


# Ignore Django migration files
*.py[cod]
__pycache__/
*.py[cod]
migrations/

# Backend .env
backend/.env

# Frontend .env
frontend/.env
cert.pem
key.pem
frontend/7.21.4
